@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="about">
    <h2>О компании</h2>
    <div class="company-info">
        <div class="company-info-item">
            <h3>История</h3>
            <p>Наша клининговая компания была основана в 2005 году с целью предоставления высококачественных услуг по уборке и обслуживанию помещений в городе. За многие годы работы мы зарекомендовали себя как надежный и профессиональный партнер.</p>
        </div>
        <div class="company-info-item">
            <h3>Ценности</h3>
            <p>Основными ценностями нашей компании являются честность, ответственность и профессионализм. Мы стремимся к долгосрочным отношениям с нашими клиентами и всегда готовы выйти на помощь.</p>
        </div>
        <div class="company-info-item">
            <h3>Наши клиенты</h3>
            <p>Мы обслуживаем широкий спектр клиентов, включая офисные и торговые центры, магазины, салоны красоты, рестораны и многие другие заведения. Наше портфолио включает в себя как крупные корпоративные клиенты, так и небольшие предприятия.</p>
        </div>
    </div>
</section>