@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="contact">
    <h2>Контакты</h2>
    <div style="display: flex; justify-content: center;">
        <div style="flex: 1;">
            <div style="position:relative;overflow:hidden;">
                <a href="https://yandex.ru/maps/45/cheboksary/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Чебоксары</a>
                <a href="https://yandex.ru/maps/45/cheboksary/house/prezidentskiy_bulvar_10/YE4YdANiTEECQFtsfX1yeHtmZg==/?ll=47.244260%2C56.139880&utm_medium=mapframe&utm_source=maps&z=16.5" style="color:#eee;font-size:12px;position:absolute;top:14px;">Президентский бульвар, 10 — Яндекс Карты</a>
                <iframe src="https://yandex.ru/map-widget/v1/?ll=47.244260%2C56.139880&mode=whatshere&whatshere%5Bpoint%5D=47.241547%2C56.139758&whatshere%5Bzoom%5D=17&z=16.5" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div style="flex: 1;">
            <p>Номер телефона: +7 (999) 123-45-67</p>
            <p>Адрес: ул. Примерная, д. 123, офис 456</p>
            <p style="display: flex; align-items: center;">
                <a href="mailto:info@example.com" style="margin-right: 10px;">
                    <img src="email.png" alt="Электронная почта" style="width: 30px; height: 30px;">
                </a>
                <a href="https://vk.com" style="margin-right: 10px;">
                    <img src="vk.png" alt="ВКонтакте" style="width: 30px; height: 30px;">
                </a>
                <a href="https://t.me" style="margin-right: 10px;">
                    <img src="telegram.png" alt="Telegram" style="width: 30px; height: 30px;">
                </a>
                <a href="https://instagram.com">
                    <img src="instagram.png" alt="Instagram" style="width: 30px; height: 30px;">
                </a>
            </p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Название вашей компании. Все права защищены.</p>
    </footer>
</section>
