@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<header>
    <h1>Клининговая компания</h1>
    <nav>
        <ul>
            <li><a href="#home">Главная</a></li>
            <li class="dropdown">
                <a href="#rates">Виды услуг</a>
                <div class="dropdown-content">
                    <a href="#">Уборка квартиры</a><br>
                    <a href="#">Уборка домов</a><br>
                    <a href="#">Уборка офисов</a>
                    <a href="#">Уборка помещений</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#about">О компании</a>
                <div class="dropdown-content">
                    <a href="#">История</a><br>
                    <a href="#">Ценности</a><br>
                    <a href="#">Наши клиенты</a>
                </div>
            </li>
            <li><a href="#portfolio">Наши работы</a></li>
            <li><a href="#contact">Контакты</a></li>
        </ul>
        <form asp-controller = "Account" asp-action = "login" method = "get">
            <button type="submit" id="loginButton" class="login-button">Войти</button>
        </form>
    </nav>
</header>