
@{
}

<section id="rates" style="display: flex; justify-content: space-between;">

    <div style="flex-basis: 23%; text-align: center;">
        <img src="service1.jpg" width="200" height="200" alt="Услуга 1">
        <h3>Уборка квартир</h3>
        <ul style="list-style-type: none; padding: 0; text-align: left;">
            <li style="text-align: center;">ПОДДЕРЖИВАЮЩАЯ — от 2 800 р.</li>
            <li style="text-align: center;">СРОЧНАЯ — от 60 р./м2</li>
            <li style="text-align: center;">ГЕНЕРАЛЬНАЯ УБОРКА — от 6 000 р.</li>
            <li style="text-align: center;">ПОСЛЕ РЕМОНТА — от 6 800 р.</li>
        </ul>
        <a href="request.html" class="order-button">Заказать уборку</a>
    </div>

    <div style="flex-basis: 23%; text-align: center;">
        <img src="service2.jpg" width="200" height="200" alt="Услуга 2">
        <h3>Уборка домов</h3>
        <ul style="list-style-type: none; padding: 0; text-align: center;">
            <li>ПОДДЕРЖИВАЮЩАЯ — от 6 500 р.</li>
            <li>АНТИБАКТЕРИАЛЬНАЯ — от 6 500 р.</li>
            <li>ГЕНЕРАЛЬНАЯ УБОРКА — от 7 500 р.</li>
            <li>ПОСЛЕ РЕМОНТА — от 8 500 р.</li>
        </ul>
        <a href="request.html" class="order-button">Заказать уборку</a>
    </div>

    <div style="flex-basis: 23%; text-align: center;">
        <img src="service3.jpg" width="200" height="200" alt="Услуга 3">
        <h3>Уборка офисов</h3>
        <ul style="list-style-type: none; padding: 0; text-align: center;">
            <li>ПОДДЕРЖИВАЮЩАЯ — от 6 750 р.</li>
            <li>АНТИБАКТЕРИАЛЬНАЯ — от 6 000 р.</li>
            <li>ГЕНЕРАЛЬНАЯ УБОРКА — от 13 500 р.</li>
            <li>ПОСЛЕ РЕМОНТА — от 13 500 р.</li>
        </ul>
        <a href="request.html" class="order-button">Заказать уборку</a>

    </div>

    <div style="flex-basis: 23%; text-align: center;">
        <img src="service4.jpg" width="200" height="200" alt="Услуга 4">
        <h3>Уборка помещения</h3>
        <ul style="list-style-type: none; padding: 0; text-align: center;">
            <li>БИЗНЕС ЦЕНТРЫ — от 15 р/м2</li>
            <li>ТОРГОВЫЕ ЦЕНТРЫ — от 250 р.</li>
            <li>МАГАЗИНЫ — от 250 р.</li>
            <li>САЛОНЫ КРАСОТЫ — от 250 р.</li>
        </ul>
        <a href="request.html" class="order-button">Заказать уборку</a>
    </div>

</section>
